.form{
    border: ridge;
    border-radius: 2rem;
    padding: 5px;
    width: 101%;
    border-color: rgba(116, 37, 25, 0.712);
    border-spacing: 1re;
    margin-bottom: 10px;
}
input{
    background-color: rgba(69, 9, 124, 0.356);
    outline: hidden;
    
}